* {
  margin: 0%;
  padding: 0%;
}

/*    ---------Contacto-------   */
.fotofondo4 {
  background-image: url(../IMG/img2.jpeg);
  background-size: cover;
  width: 100%;
  height: 500px;
}

.fotofondo4 h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: #fff;
  font-family: "Roboto Mono", monospace;
  padding-top: 200px;
}

* {
  margin: 0%;
  padding: 0%;
}

/*    ---------Header-------- */
.container-fluid {
  display: flex;
  font-size: 30px;
}

.container-fluid a {
  display: flex;
  font-size: 30px;
}

* {
  margin: 0%;
  padding: 0%;
}

/*    ---------Inicio-------- */
.fotofondoindex {
  background-image: url(../IMG/index.jpg);
  background-size: cover;
  width: 100%;
  height: 700px;
}

.fotofondoindex h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200px;
  color: #fff;
  font-family: "Quicksand", sans-serif;
  padding-top: 130px;
}

.fotofondoindex p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: #fff;
  font-family: "Quicksand", sans-serif;
  padding-bottom: 150px;
}

.frases p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin: 100px 120px 40px 120px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.frases h3 {
  display: flex;
  justify-content: right;
  font-size: 30px;
  margin-right: 100px;
  margin-bottom: 100px;
}

.contenedor6 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 15px;
}

.contenedor6 figure {
  position: relative;
  height: 700px;
  width: 100%;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.contenedor6 figure img {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
}

.contenedor6 figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.contenedor6 figure:hover > img {
  transform: scale(1.3);
}

.contenedor6 figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}

.contenedor6 figure:hover > .capa h3 {
  margin-top: 150px;
  margin-bottom: 20px;
}

.contenedor6 figure .capa h3 {
  color: #fff;
  font-weight: 600;
  font-size: 60px;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 170px;
  transition: all 500ms ease-out;
  margin-top: 20px;
}

.contenedor6 figure .capa p {
  color: #fff;
  font-size: 40px;
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  width: 100%;
  max-width: 1100px;
  margin: auto;
}

.card {
  margin: 10px;
}

.card-body1 h5 {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  font-size: 60px;
  font-family: "Quicksand", sans-serif;
  color: #fff;
}

.card-body1 p {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 30px;
  color: #fff;
  padding-bottom: 100px;
}

.img {
  margin: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: all 2s;
}

* {
  margin: 0%;
  padding: 0%;
}

/*    ---------Piedepagina-------   */
.piedepagina {
  background-color: rgb(174, 174, 174);
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piedepagina p {
  color: #fff;
  font-size: 20px;
}

* {
  margin: 0%;
  padding: 0%;
}

/*    ---------Servicios-------   */
.fotofondo {
  background-image: url(../IMG/img2.jpeg);
  background-size: cover;
  width: 100%;
  height: 500px;
}

.fotofondo h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: #fff;
  padding-top: 200px;
  font-family: "Roboto Mono", monospace;
}

.card-body h5 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 50px;
  font-family: "Quicksand", sans-serif;
  padding: 5px 10px;
  border: 10px;
  margin: 20px;
}

.card-body p {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 30px;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 30px;
  padding: 5px 10px;
  border: 10px;
  margin: 20px;
}

.img-fluid {
  display: flex;
  align-content: center;
  transition: all 500ms ease-out;
  padding: 5px 10px;
  border: 10px;
  margin: 20px;
}

.card-body figure:hover > .img-fluid {
  transform: scale(1.3);
}

.fotofondo3 {
  background-image: url(../IMG/IMG1.jpg);
  background-size: cover;
  width: 100%;
  height: 500px;
}

.fotofondo3 h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: white;
  font-family: "Roboto Mono", monospace;
  padding-top: 200px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  padding: 5px 10px;
  border: 10px;
  margin: 80px;
  transition: all 3s;
}

.card2 {
  transition: all 2s;
}

.card2:hover {
  transform: scale(1.1);
}

* {
  margin: 0%;
  padding: 0%;
}

/*    ---------Proyectos-------   */
.fotofondo2 {
  background-image: url(../IMG/EQUIPO.jpg);
  background-size: cover;
  width: 100%;
  height: 500px;
}

.fotofondo2 h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: #fff;
  font-family: "Roboto Mono", monospace;
  padding-top: 200px;
}

.project {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.contenedor5 {
  width: 1130px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 15px;
}

.contenedor5 figure {
  position: relative;
  height: 700px;
  width: 100%;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.contenedor5 figure img {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
}

.contenedor5 figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.contenedor5 figure:hover > img {
  transform: scale(1.3);
}

.contenedor5 figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}

.contenedor5 figure:hover > .capa h3 {
  margin-top: 150px;
  margin-bottom: 20px;
}

.contenedor5 figure .capa h3 {
  color: #fff;
  font-weight: 600;
  font-size: 40px;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 170px;
  transition: all 500ms ease-out;
  margin-top: 20px;
}

.contenedor5 figure .capa p {
  color: #fff;
  font-size: 30px;
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  width: 100%;
  max-width: 700px;
  margin: auto;
}