*{
    margin: 0%;
    padding: 0%;
}

/*    ---------Proyectos-------   */
.fotofondo2 {
    background-image: url(../IMG/EQUIPO.jpg);
    background-size: cover;
    @include sizes(100%, 500px)
}
.fotofondo2 h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $colorprimario;
    font-family: 'Roboto Mono', monospace;
    padding-top: 150px;
}
.grid2 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:"hijo"
                        "hijo1"
                        "hijo2"
                        "hijo3"
                        "hijo4"
                        "piedepagina";
    margin-top: 30px;
}
.hijo {
    padding: map-get($btn , padding );
    border: map-get($btn , radio );
    margin: map-get($btn , margin );
    text-align: center;
    grid-area: hijo;
    margin-top: 30px;
}

.hijo1 {
    @extend .hijo
}

.hijo2 {
    @extend .hijo
}

.hijo3 {
    @extend .hijo
}

.hijo4 {
    @extend .hijo
}