*{
    margin: 0%;
    padding: 0%;
}

/*    ---------Servicios-------   */
.fotofondo {
    background-image: url(../IMG/img2.jpeg);
    background-size: cover;
    @include sizes(100%, 500px)
}
.fotofondo h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: $colorprimario;
    padding-top: 150px;
    font-family: 'Roboto Mono', monospace;
}
.card-body h5{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
    padding: map-get($btn , padding );
    border: map-get($btn , radio );
    margin: map-get($btn , margin );
}
.card-body p{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: $parrafo;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 30px;
    padding: map-get($btn , padding );
    border: map-get($btn , radio );
    margin: map-get($btn , margin );
}

.img-fluid {
    display: flex;
    align-content: center;
    padding: map-get($btn , padding );
    border: map-get($btn , radio );
    margin: map-get($btn , margin );
}
